  /*{
    border: 1px dotted #333;
} 

background-image: url("popular.jpg");





     
*/


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}


.img-area {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  margin-right: auto;
  margin-left: auto;
  

 
}


.text-area {
  flex:1
}




.img-area img {
  width: 230px;
  height: 90px;
  border-radius: 0;
  margin-bottom: 10px;
  margin-top: 50px;
}

h1 {
  font-size: 24px;
  margin-bottom: 5px;
}

h3 {
  font-size: 18px;
}

.main {
  display: flex;
  flex-wrap: wrap;
}

.left,
.right {
  flex: 1;
  padding: 10px;
}

h2 {
  background-color: #00b6c4;
  color: #fff;
  padding: 8px;
  border-radius: 15px;
  margin: 3px;
}

.right p {
  padding: 15px;
}

ul {
  list-style: none;
  margin-bottom: 20px;
}

ul li {
  margin-bottom: 5px;
}

ul li img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  vertical-align: middle;
}

footer {
  text-align: center;
  margin-top: 20px;
  padding-top: 20px;
  border-top: 5px solid #ccc;
  
}

footer p {
  font-size: 14px;
  color: Solid Black;
}

@media only screen and (max-width: 700px) {
  .img-area {
    


    
    background-repeat: no-repeat;
    background-size:contain;
      
  }

  .left,
  .right {
      flex: none;
      width: 100%;
  }



}

.prog {
  margin: 5px;
}


.h2 p {


text-align: left;


}


.awards p {

 padding 1;
 text-align: left;
 
}